.navbar-nav>.active>a  {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    overflow: visible;
    width: 100%;
    background: $navbar-default-bg;
    z-index: -1;
    transform: skewY(6deg);
    -webkit-backface-visibility: hidden;
    top: 0;
    padding-bottom: 50px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 2px 3px 0px rgba(1, 28, 49,.7);
  }
} 
.navbar-nav{
  li {
    a {
      box-shadow: inset 0 0 0 0 #C14800;
      transition: all ease 0.8s;
    }
    &:hover{
      /*triangle under the background*/
      /*background-position: 0 -100%;*/
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -15px;
        overflow: visible;
        width: 100%;
        background: $navbar-default-bg;
        z-index: -1;
        transform: skewY(6deg);
        -webkit-backface-visibility: hidden;
        top: 0;
        padding-bottom: 50px;
        box-shadow: 0px 2px 3px 0px rgba(1, 28, 49,.7);
         box-shadow: inset 0 100px 0 0 #C14800;
      }
    }
    @media (min-width: 768px){
      a {
        padding-top: 40px;
        padding-bottom: 17px;
      }
    }
    @media (max-width: $screen-lg){ 
      a  {
        font-size: 16px;
      }
    }
    @media (max-width: $screen-md){ 
      a  {
        font-size: 12px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}

.hero {
  color: #fff;
  background-color: #2a4457;
  /*height: 500px;*/
  outline: solid;
  outline-offset: -10px;
  outline-color: #375364;
  outline-width: 1px;
  background-image: url(../images/Video.jpg);
  background-size: cover;
  /*max-width: 100%;*/
  /*height: auto;*/
  height: 847px;

  .container-hero {
    @include centerer();
    top: 40%;

    .hero-text {
      width: 127%;
      /*background: red;*/
      color: $brand-primary;
      img {
        @include img-responsive();
        float: left;
      }
      .border {
        float: left;
        border-left: 5px solid $blue-flashy;
        margin-left: 5px;
        margin-right: 10px;
        @include size(5px, 124px);
      }
      .align-left {

        p  {
          font-size: 2em;
          text-transform: capitalize;
          line-height: 0.8;
          span {
            font-size: 3em;
            text-transform: uppercase;
            display: block;
            padding-bottom: 25px;

          } 
        }
      }
    }
  }
  .learn-more {
    /*background-color: red;*/
    @include button-bv(#fff, #f17030);
    top: 100%;
    margin-top: 20%;
  }

}
.overlay {
  /*background-color: rgba(0,0,0,.5);*/
  /*height: 847px;*/
  /*width: 100%;*/
  /*display: block;*/
  /*position: absolute;*/

}
.navbar-brand {
  @include size(246px, 63px);
  padding: 0;
  img {
    margin-left: 37px;
  }
}
.navbar-default {

  background-color: transparent;
  border: 0;
  .navbar-brand {
    text-indent: -50000px;
  }
}
.navbar-collapse {
  margin-right: 35px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
.navbar-nav>nav>a {
  /*border-top: 80px solid blue;*/
  padding-right: 23px;
  /*border-left: 40px solid transparent;*/
}
