/*@mixin beleved-corner($bg, $t1:0, $tr:$t1, $br:$t1, $b1:$tr ) {*/
  /*background: $bg;*/
  /*background:*/
  /*linear-gradient(135deg, transparent $t1, $bg 0) top left,*/
  /*linear-gradient(-135deg, transparent $tr, $bg 0) top right,*/
  /*linear-gradient(-45deg, transparent $br, $bg 0) bottom right,*/
  /*linear-gradient(45deg, transparent $b1, $bg 0) bottom left;*/
  /*background-size: 51% 51%;*/
  /*background-repeat: no-repeat;*/
/*}*/
/*Down-left pointing*/

.navbar-nav>.active>a  {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    overflow: visible;
    width: 100%;
    background: $navbar-default-bg;
    z-index: -1;
    transform: skewY(6deg);
    -webkit-backface-visibility: hidden;
    top: 0;
    padding-bottom: 50px;
  }
} 
.navbar-nav{
  li {
    a:hover{
      /*triangle*/
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -15px;
        overflow: visible;
        width: 100%;
        background: $navbar-default-bg;
        z-index: -1;
        transform: skewY(6deg);
        -webkit-backface-visibility: hidden;
        top: 0;
        padding-bottom: 50px;
      }
    }
    @media (min-width: 768px){
      a {
        padding-top: 40px;
        padding-bottom: 17px;
      }
    }
  }
}

.hero {
  color: #fff;
  background-color: #2a4457;
  /*height: 500px;*/
  outline: solid;
  outline-offset: -10px;
  outline-color: #375364;
  outline-width: 1px;
  background-image: url(../images/Video.jpg);
  background-size: cover;
  /*max-width: 100%;*/
  /*height: auto;*/
  height: 847px;
  .hero-text {
    width: 37%;
    background: red;
    color: $brand-primary;
    @include centerer();
    img {
      @include img-responsive();
      float: left;
    }
    .border {
      float: left;
      border-left: 5px solid $blue-flashy;
      margin-left: 5px;
      margin-right: 10px;
      @include size(5px, 124px);
    }
    .align-left {
      
      p  {
        font-size: 2em;
        text-transform: capitalize;
        line-height: 0.9;
       span {
        font-size: 6em;
        text-transform: uppercase;
        display: block;
         
       } 
      }
      /*p:first-child {*/
        /*font-size: 6em;*/
        /*text-transform: uppercase;*/
        /*[>margin-top: -25px;<]*/
        /*position: relative;*/
        /*top: -19px;*/
      /*}*/
      /*p:last-child  {*/
        /*[>font-size: 1em;<]*/
        /*text-transform: capitalize;*/
        /*position: relative;*/
        /*top: -45px;*/
        /*font-size: 1.5em;*/
      /*}*/
    }
  }
  .learn-more {
    @include centerer();
    margin-top: 20%;
  }

}
.overlay {
  /*background-color: rgba(0,0,0,.5);*/
  /*height: 847px;*/
  /*width: 100%;*/
  /*display: block;*/
  /*position: absolute;*/

}
.navbar-brand {
  @include size(246px, 63px);
  padding: 0;
  img {
    margin-left: 37px;
  }
}
.navbar-default {

  background-color: transparent;
  border: 0;
  .navbar-brand {
    text-indent: -50000px;
  }
}
.navbar-collapse {
  margin-right: 35px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
.navbar-nav>nav>a {
  /*border-top: 80px solid blue;*/
  padding-right: 23px;
  /*border-left: 40px solid transparent;*/
}
