    

.logo-title{
  @include center-block();
  @include size(237px, 42px);
  margin-bottom: 4em;
  img {
    font-size: 2em;
    text-align: center;
    @include make-xs-column(12);
    /*@include img-responsive();*/
    @include size(237px, 42px);
    /*@include center-block();*/
  }
}
.row>h2 {
  font-size: 3em;
  @include center-block();
  text-align: center;
  @include make-xs-column(12);
}
/*front-page*/
.home {
  .bloc-stay-connect {
    background-color: rgba(16, 79, 131,1);
    color: $brand-primary;
    outline: solid;
    outline-offset: -10px;
    outline-color: #2c6ea4;
    outline-width: 1px;
    position: relative;
    height: 160px;
    width: 100%;
    padding-bottom: 230px;
    padding-top: 30px;

    h2 {
      text-align: center;
      background-color: #105084;
      /*@include center-block();*/

      /*@include centerer();*/
      top: 0;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      width: 350px;
      @include center-block();
      margin-bottom: 55px;
      &:before  {
        content: "";
        position: absolute;
        width: 89%;
        height: 1px;
        border-radius: 0;
        bottom: -18px;
        left: 18px;
        background-color: #fff;
      }  
      color: inherit;
      text-decoration: none;
      border: 0;

      font-family: 'Roboto', sans-serif;
    }
    .form-bv {
      input[type="submit"]{
        /*margin-left: 3em;*/
        @include button-bv(#fff, #f17030);
        background-color: transparent;
        border-radius: 0;
        height: 77px;
        margin-top: -21px;
      }
      input[type="text"]{
        padding: 10px;
        border-bottom: 4px solid $brand-primary;
        color: $brand-primary;
        box-shadow: inset 0 0 0 0px $brand-primary;
        transition: box-shadow .3s,border .3s;
        background: #104F83;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        margin-right: 1em;
        /*margin-left: 1em;*/
        border-radius: 0;
        /*size input*/
        font-size: 1.5em;
        /*width: 16%;*/
        font-style: italic;
        line-height: 1;
        padding-bottom: 40px;
      }

      input[type="text"]:focus,
      input[type="text"].focus {
        border-bottom: solid 4px #1e7fce;
        color: $brand-primary;
      }
      input:placeholder-shown {
        /*margin-bottom: 1em;*/
      }
      input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #fff;
        padding-bottom: 40px;
      }
      input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity:  1;
      }
      input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:#fff;
        opacity:  1;
      }
      input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:#fff;
      }
      input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
        color:#fff;
      }
    }

    @media (max-width: $screen-sm ) {
      height: 590px;
      .form-bv {
        input[type="text"]{
          border-bottom: 6px solid $brand-primary;
          font-size: 2em;
          /*width: 16%;*/
          font-style: italic;
          line-height: 1;
          padding-bottom: 40px;
          margin-bottom: 50px;
        }
        input[type="submit"]{
          top: 0px; 
          margin-top: 0;
        }
      }
    }

  }//bloc-stay-connect 

  .bloc-why-best{
    background-color: #FFF;
    width: 100%;
    height: 670px;
    .about-arrow {
      @include centerer();
      top: 54%;
    }
    .bloc-img {
      position: relative;
      top: 409px;
      img {
        @include img-responsive();
      }
      .about-img-1{
        @include centerer();
        /*top: 45%;*/
        /*left: 66%;*/
        margin-left: 280px;
        margin-top: -80px;
        /*width: 24%;*/
        z-index: 1  !important;
      }
      .about-img-0 {
        @include centerer();
        /*top: 45%;*/
        /*left: 63%;*/
        margin-top: -114px;
        margin-left: 37em;
        /*width: 35%;*/
        width: 24%;
        z-index: 0;
      }
      .about-img-2{
        @include centerer();
        top: 221px;
        left: 80%;
        z-index: 3;
        width: 24%;
      }
    }
    .content-text {
      div:first-child {
        padding: 0 6em;
      }
      @include make-xs-column(6);
      color: $blue-title;
      h2 {
        position: relative;
        top: 0;
        margin-top: 200px;
        font-size: 38px;
        text-transform: uppercase;
      }
      p {
        font-size: 17px; 
      }
    }

    .content-image {
      @include make-xs-column(6); 

      .line-orange{
        position: absolute;
        left: 0;
        top: 185px;
        text-indent: -200000px;
        height: 14px;
        width: 120%;
        background: #f17030;
        display: block;
        z-index: 0;
      }
    }
    @media (max-width: 1290px){
      .bloc-img {
        position: relative;
        top: 409px;
        .about-img-1{
          margin-left: 280px;
          margin-top: -80px;
          /*width: 24%;*/
        }
        .about-img-0 {
          @include centerer();
          margin-top: -114px;
          margin-left: 37em;
        }
        .about-img-2{
          @include centerer();
          top: 221px;
          left: 80%;
          width: 24%;
        }
      }
      .content-text {
        div:first-child {
          padding: 0 6em;
        }
        color: $blue-title;
        h2 {
          position: relative;
          top: 0;
          margin-top: 2.2em;
          font-size: 38px;
          text-transform: uppercase;
        }
        p {
          font-size: 17px; 
        }
      }

    }
  }//.bloc-why-best 

  @media (max-width: 1290px){
    .bloc-why-best {
      height: auto  !important;
      .bloc-img {
        position: relative;
        top: 409px;
        .about-img-1{
          margin-left: 280px;
          margin-top: -80px;
          /*width: 24%;*/
        }
        .about-img-0 {
          @include centerer();
          margin-top: -114px;
          margin-left: 37em;
        }
        .about-img-2{
          @include centerer();
          top: 221px;
          left: 80%;
          width: 24%;
        }
      }
      .content-text {
        div:first-child {
          padding: 0 6em;
          padding-bottom: 2em;
        }
        color: $blue-title;
        h2 {
          position: relative;
          top: 0;
          margin-top: 2.2em;
          font-size: 38px;
          text-transform: uppercase;
        }
        p {
          font-size: 17px; 
        }
      }
    }
  }// end media
  @media (max-width: $screen-md){
    .bloc-why-best {
      .bloc-img {
        .about-arrow {
          display: none;
        }
        position: relative;
        top: 409px;
        .about-img-1{
          margin-left: 280px;
          margin-top: -80px;
          float: right;
          /*width: 24%;*/
        }
        .about-img-0 {
          margin-top: -114px;
          margin-left: 37em;
        }
        .about-img-2{
          top: 221px;
          left: 80%;
          width: 34%;
        }
      }
      .content-image {
        .line-orange{
          display: none; 
        }
      }
      .content-text {
        div:first-child {
          padding: 0 0em 0 4em;
          padding-bottom: 2em;
        }
        color: $blue-title;
        h2 {
          position: relative;
          top: 0;
          margin-top: 2.2em;
          font-size: 38px;
          text-transform: uppercase;
        }
        p {
          font-size: 17px; 
        }
      }
    }
  }
  @media (max-width: $screen-sm){
    .bloc-why-best {
      margin-bottom: 3em;
      .bloc-img {
        width: 100%;
        float: left;
        top: 0;
        .about-img-1{
          display: none;  
        }
        .about-img-0 {
          margin-top: -114px;
          margin-left: 37em;
        }
        .about-img-2{
          float: left;
          top: 12em;
          left: 50%;
          margin-top: 15em;
          width: 55%;
          border: 2px solid #f17030;
          position: relative;
          margin: 0;
        }
      }
      .content-text {
        width: 100%;
        float: left; 
        width: 100%;
        div:first-child {
          padding: 0 0em 0 4em;
        }
        color: $blue-title;
        h2 {
          position: relative;
          top: 0;
          margin-top: 2.2em;
          font-size: 38px;
          text-transform: uppercase;
        }
        p {
          font-size: 17px; 
        }
      }
    }
  }

  // bloc builder
  .bloc-builder {
    padding-top: 14em;
    padding-bottom: 3.5em;
    background-color: #1e374c;
    /*height: 1500px;*/
    color: $brand-primary;
    background-image: url(../images/builder-bgc.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    .container {
      /*width: 1310px;*/
    }
    /*@include hexagon(orange, 'hx1');*/
    /*margin-right: 2em;*/
    /*@include make-row();*/
    .hexagon-row-1  > div {
      @include make-xs-column(12);
      @include make-sm-column(3);
      @include make-md-column(3);
      @include make-lg-column(3);
      height: 342px; // important for the float
      /*margin-right: 10px;*/
      img {
        @include img-responsive();
        @include center-block();
      }
    }
    .hexagon-row-2  > div {
      div:first-child {
        margin-left: 12.25%;
      }
      @include make-xs-column(12);
      @include make-sm-column(3);
      @include make-md-column(3);
      @include make-lg-column(3);
      height: 342px; // important for the float
      img {
        @include img-responsive();
        @include center-block();
      }
    }
    /*@media (min-width: 1290px) and (min-width: 1000px){*/
    .hexagon-row-2 {
      div {
        position: relative;
        margin-top: -50px;
      }
      .col-lg-offset-1 {
        margin-left: 12.25%;
      }
    }
    @media (max-width: 1329px){
      .hexagon-row-2 {
        div {
          position: relative;
          margin-top: -130px;
        }
        .col-lg-offset-1 {
          margin-left: 12.45%;
        }
      }
    }
    @media (max-width: $screen-md){
      .hexagon-row-2 {
        div {
          position: relative;
          margin-top: -181px;
          /*@include make-xs-column(6);*/
          /*@include make-sm-column(6);*/
          /*@include make-md-column(12);*/
          /*@include make-lg-column(3);*/
        }
        .col-lg-offset-1 {
          /*margin-left: 0% !important;*/
          margin-left: 12.45%;
        }
      }
    }
    @media (max-width: $screen-sm){
      margin-bottom: 0;
      padding-top: 8em;
      .hexagon-row-1 {
        div, img {
          height: 360px;
        }
        div:nth-child(1){
          /*background-color: #f00;*/
          height: 400px;
          img {
            margin-right: 4em;
            margin-top: 2em;
            float: right;
          }
        }
        div:nth-child(2){
          /*background-color: #fff;*/
          img {
            margin-left: 4em;
            margin-top: -5em;
            float: left;
          }
        }
        div:nth-child(3){
          /*background-color: #f00;*/
          img {
            margin-top: -10em;
            margin-right: 4em;
            float: right;
          }
        }
        div:nth-child(4){
          /*background-color: #fff;*/
          img {
            margin-left: 4em;
            margin-top: -15em;
            float: left;
            position: relative;
            z-index: 1;
          }
        }
      }
      .hexagon-row-2 {
        margin-top: -78em;
        position: relative;
        top: -295px;
        z-index: 0;
        div, img {
          height: 360px;
        }
        div:nth-child(1){
          /*background-color: #f00;*/
          height: 400px;
          img {
            margin-right: 4em;
            margin-top: 2em;
            float: right;
          }
        }
        div:nth-child(2){
          /*background-color: #fff;*/
          img {
            margin-left: 4em;
            margin-top: -5em;
            float: left;
          }
        }
        div:nth-child(3){
          /*background-color: #f00;*/
          img {
            margin-top: -10em;
            margin-right: 4em;
            float: right;
          }
        }
        div:nth-child(4){
          /*background-color: #fff;*/
          img {
            margin-left: 4em;
            margin-top: -15em;
            float: left;
          }
        }
      }
      .hexagon-row-2 {
        div {
          position: relative;
          margin-top: 0px;
          /*@include make-xs-column(6);*/
          /*@include make-sm-column(6);*/
          /*@include make-md-column(12);*/
          /*@include make-lg-column(3);*/
        }
        .col-lg-offset-1 {
          /*margin-left: 0% !important;*/
          margin-left: 0%;
        }
      }
    }
    @media (max-width: 520px){
      .hexagon-row-1 {
        div, img {
          /*height: 360px;*/
        }
        div:nth-child(1){
          /*background-color: #f00;*/
          /*height: 400px;*/
          img {
            margin-right: 0em;
            margin-top: 2em;
            float: right;
          }
        }
        div:nth-child(2){
          /*background-color: #fff;*/
          img {
            margin-left: 0em;
            float: left;
          }
        }
        div:nth-child(3){
          /*background-color: #f00;*/
          img {
            margin-left: 0;
            margin-right: 0;
            margin-top: -9em;
            float: right;
          }
        }
        div:nth-child(4){
          /*background-color: #fff;*/
          img {
            margin-left: 0em;
            margin-right: 0;
            margin-top: -13em;
            float: left;
            position: relative;
            z-index: 1;
          }
        }
      }
      .hexagon-row-2 {
        /*margin-top: -79em;*/
        /*position: relative;*/
        top: -295px;
        z-index: 0;
        div, img {
          height: 360px;
        }
        div:nth-child(1){
          /*background-color: #f00;*/
          height: 400px;
          img {
            margin-right: 0;
            margin-top: 4em;
            float: right;
          }
        }
        div:nth-child(2){
          /*background-color: #fff;*/
          img {
            margin-left: 0;
            margin-top: -4em;
            float: left;
          }
        }
        div:nth-child(3){
          /*background-color: #f00;*/
          img {
            margin-top: -9em;
            margin-right: 0em;
            float: right;
          }
        }
      }
    }
  }





  .bloc-home-plans  {
    /*height: 1200px;*/
    background-color: #FFF; 
    color: #fff;
    h2 {
      color: $blue-title;
    }
    .row {
      position: relative;
    }
    .first-row {
      margin-top: 6em;
    }
    .second-row {
    }
    .bx {
      position: relative;
      top: 0;
      left: 0;
      /*up the bloc*/
      margin-top: -6em;
    }
    .bx1,.bx2, .bx3, .bx4, .bx5, .bx6, .bx7, .bx8 {
      .content-home-plan {
        @include content-home-plan();
        p {
          margin-bottom: .1em;
        }
      }
    }
    .bx2 {
      .content-home-plan {
        /*top: 40%;*/
        }
      .bloc-img {
        @include make-row();
        width: 140%;
        margin-left: -40px;
        position: relative;
          margin-top: 30px;
            margin-bottom: 30px;
        span {
          @include make-lg-column(3); 
          @include make-md-column(3);
          @include make-xs-column(3);
        }
      }
      button {
        position: relative;
        margin-top: 67px;
        @include button-bv(#fff, #f17030);
        margin-top: 9px;
        display: block;
        padding: 0.8em 1.2em;
      }
    }
    .bx4 {
      /*width: 315px;*/
    }
    .bx5 {
      .content-home-plan  {
        top: 36%;
      }
    }
    .bx6 {
      margin-top: 1em;
      .content-home-plan  {
        top: 31%;
      }

    }
    .bx7 {
      margin-top: -3em;
    }
    img {
      /*position: absolute;*/
      left: 0;
      top: 0;
      height: 100%  !important;
    }
    @media (max-width: $screen-lg){
      /*background-color: #f00;*/
      .row {
        position: relative;
      }
      .first-row {
        margin-top: 6em;
      }
      .second-row {
      }
      .bx {
        position: relative;
        top: 0;
        left: 0;
        /*up the bloc*/
        margin-top: -6em;
      }
      .bx4 {
        /*width: 315px;*/
      }
      .bx6 {
        margin-top: 1em;

      }
      .bx7 {
        margin-top: -3em;
      }
      img {
        /*position: absolute;*/
        left: 0;
        top: 0;
        /*height: 100%  !important;*/
      }
    }


    @media (max-width: $screen-md){
      /*.first-row > div, .second-row > div {*/
      /*@include make-md-column(3);*/
      /*[>@include make-xs-column(12);<]*/
      /*}*/
      height: 2520px;
      background-color: #f00;
      .bx {
        margin-top: 0em;
      }
      .bx3 {
        margin-top: 2.5em;
      }
      .bx4 {
        margin-top: 2.8em;
        img {
          @include center-block();
        }
      }
      .md--height {
        /*height: 40px;*/
      }
      .bx5 {
        margin-top: -3.5em;
      }
      .bx6 {
        margin-top: 1.5em;
        img {
          height: 100%;
        }
      }
      .bx7 {
        /*margin-top: -43em;*/
        margin-top: -620px;
      }
      .bx8 {
        margin-top: 3em;
      }
    }
    @media (max-width: $screen-sm){
      /*.col-width3 {*/
      /*width: 23%  !important;*/
      /*}*/
      /*.col-width4 {*/
      /*width: 27%  !important;*/
      /*}*/
      height: 4070px;
      .bx {
        margin-bottom: 2em;
        img {

          @include center-block();
        }
      }
      .bx4 {
        margin-top: 2.8em;
        img {
          @include center-block();
        }
      }
      .md--height {
      }
      .bx5 {
        margin-top: -3.5em;
      }
      .bx6 {
        margin-top: 1.5em;
        img {
          height: 100%;
        }
      }
      .bx7 {
        /*margin-top: -43em;*/
        margin-top: 0px;
      }
      .bx8 {
        margin-top: 3em;
      }
    }
    @media (max-width: $screen-xs){
      /*.col-width3 {*/
      /*width: 23%  !important;*/
      /*}*/
      /*.col-width4 {*/
      /*width: 27%  !important;*/
      /*}*/
    }
    /*.col-lg-3, .col-md-3, .col-sm-3, .col-xs-3, .col-lg-2, .col-md-2, .col-sm-2, .col-xs-2{*/
    /*float:left;*/
    /*}*/
    /*.col-lg-4, .col-md-4, .col-sm-4, .col-xs-4{*/
    /*float:left;*/
    /*}*/
    /*.col-lg-6, .col-md-6, .col-sm-6, .col-xs-6{*/
    /*float:left;*/
    /*}*/

    /*.post{*/
    /*display:block;*/
    /*border:1px solid #ffffff;*/
    /*border-radius:3px;*/
    /*margin-bottom:20px;*/
    /*background-color:#dadfe3;*/
    /*}*/


  }

  .bloc-our-amenities {
    background-color: #1e374c;
    position: relative;
    z-index: 10;
    padding: 0 0 0 4em;
    .bx-title>div{
      @include make-lg-column(6);

      color: $blue-title;
    }
    .bx-title  {
      margin-top: 7em;
      h2 {
        /*color: $blue-title;*/
        margin: 0;
      }
      .line-orange {
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 185px;*/
        text-indent: -200000px;
        height: 14px;
        /*width: 120%;*/
        background: #f17030;
        display: block;
        z-index: 0;
      }
      
    }

     
    .content-carousel {
        width: 70%;
        img  {
          @include img-responsive();
        }
        .owl-carousel .owl-item{
          height:100%;
          width:100%;
        }
        .owl-prev {
          float: left;
        }
        .owl-next {
          float: right;
        }
        .owl-dots{
          color: #fff  !important;
        }
        .owl-dot {
           margin: 0 10px;
        }
        .owl-dot.active {
          background-color: #f00;
        }
      }
    } /*end .bloc-our-amenities*/


    .bloc-talking-about{

      /*.col-lg-4, col-md-4, col-sm-4, col-xs-4{*/
      /*float:left;*/
      /*}*/

      /*.post{*/
      /*display:block;*/
      /*border:1px solid #ffffff;*/
      /*border-radius:3px;*/
      /*margin-bottom:20px;*/
      /*background-color:#dadfe3;*/
      /*}*/


      .row {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap:1em; 
        column-width: 18em;
        column-gap: 1em;

      }

      .item {
        display: inline-block;
        padding:  .25rem;
        width:  100%; 
      }

      .well {
        position:relative;
        display: block;
      }

    }
  }// end home
